.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 18px;

  .desk {
    font-family: var(--playfair-display);
    font-weight: 700;
    font-size: 20px;
    color: var(--black);
    margin-bottom: 10px;
  }

  .names {
    font-family: var(--playfair-display-sc);
    font-weight: 800;
    font-size: 30px;
    color: var(--main-color);
  }

  .emblema {
    transform: rotate(180deg);
    margin-top: 60px;
  }
}
